<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Signup</title>
  <!-- Include Axios library -->
  
</head>
<body>
  <h2>User Signup</h2>
  <form id="signup-form">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="text" id="password" name="password" required>
    </div>
    <button type="submit">Submit</button>
  </form>

  <a href="/login">login</a>
  <!-- error -->
  <h3 id="error-message"></h3>
  

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="signup.js"></script>
</body>
</html>
