<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Login</title>
</head>
<body>
  <h2>User Login</h2>
  <form id="login-form">
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
  </form>


  <button id="forgot-password">Forgot Password?</button>
  <form id="forgot-password-form" style="display: none">
    <h3>Enter your registered email to reset your password</h3>
    <div>
      <label for="forgot-email">Email:</label>
      <input type="email" id="forgot-email" name="email" required>
    </div>
    <button type="submit">Send Reset Link</button>
  </form>

  <a href="/">signup</a>
  <!-- error -->
  <h3 id="error-message"></h3>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="login.js"></script>
</body>
</html>
